body {
    font-family: Arial, sans-serif;
    background-image: url(../img/desenfoque-abstracto-vacio-verde-degradado-studio-bien-utilizar-como-fondo-plantilla-sitio-web-marco-informe-comercial.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}

h1 {
    color: #333; 
}

p {
    color: #666;
}


#peliculasDisponibles, #carrito, #cuotas, #finalizar, #resultadoCuotas {
    background-color: #e0e0e0; 
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff; 
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    cursor: pointer;
}

li:hover {
    background-color: #f0f0f0; 
}

button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #45a049; 
}

input[type="number"], input[type="text"] {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease; 
}

input[type="number"]:focus, input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50; 
}

.hidden {
    display: none; 
}